<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindTrade"
        tools:targetApi="31">
        <activity
            android:name="strategycards.RegisterStrategyActivity"
            android:exported="false" />
        <activity
            android:name=".ImageDetailActivity"
            android:exported="false" />
        <activity
            android:name="welcome.AvatarSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.MindTrade" />
        <activity
            android:name="welcome.PsicoPositiveActivity"
            android:exported="false"
            android:theme="@style/Theme.MindTrade" />
        <activity
            android:name="welcome.PsicoNegativeActivity"
            android:exported="false"
            android:theme="@style/Theme.MindTrade" />
        <activity
            android:name="welcome.EmotionsActivity"
            android:exported="false"
            android:theme="@style/Theme.MindTrade" /> <!-- LoginActivity como punto de entrada inicial -->
        <activity
            android:name="auth.LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MindTrade">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- RegisterActivity para registro de usuarios -->
        <activity
            android:name="auth.RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.MindTrade" /> <!-- WelcomeActivity para dar la bienvenida tras el registro -->
        <activity
            android:name="welcome.WelcomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MindTrade" /> <!-- TradingStyleActivity para seleccionar estilo de trading -->
        <activity
            android:name="welcome.TradingStyleActivity"
            android:exported="false"
            android:theme="@style/Theme.MindTrade" /> <!-- MainActivity como pantalla principal para usuarios autenticados -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MindTrade" />

        <activity android:name=".AccountMovementsActivity" />

    </application>

</manifest>